/*
/*/
!/2d
!/assets/
/assets/*
!/assets/materialtest/
!/.gitattributes
!/.gitignore
!/.gitmodules
!/.travis.yml
!/appveyor.yml
!/CMakeLists.txt
!/setup_builds.sh
!/setup_builds.bat
!/Header.jpg
!/Readme.md
!/LICENSE.txt
!/src/
!/data/
!/data/editor
!/data/example-scenes
!/data/materialtest
!/data/mc-loader
!/data/shaders
!/cmake/
/data/example-scenes/*/*.png
*-sdf.vdb
*.pfm
/data/example-scenes/gp-eager
/data/example-scenes/gp-chess-set
!/vcpkg.json
!/vcpkg-configuration.json
!/CmakePresets.json
*.pdf
/data/example-scenes/gp-lion/lion.vdb